
 
tr:nth-child(even) {
  
  background-color: #f2f2f2;

}
  tr:nth-child(odd) {background-color: #39CC52;}
 
th{
  width: 25%;
  text-align: center;
}
table{
  width:100%;

}

.center {
 display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.centerbtn{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

td{
  text-align: center;
}

.button {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 0.2em 0.8em;
  border: 0;
  background-color:#39CC52;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
 
  z-index: 2;
 }
 
 .button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
     #488cfb,
     #29dbbc,
     #ddf505,
     #ff9f0e,
     #e440bb,
     #655adc,
     #488cfb
   );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
 }
 
 .button:hover::after {
  animation-play-state: running;
 }
 
 @keyframes rotate-hue {
  to {
   filter: hue-rotate(1turn);
  }
 }
 
 .button,
 .button::after {
  box-sizing: border-box;
 }
 
 .button:active {
  --border-width: 5px;
 }
 .block{
  width: 80%;
  margin:auto;
  display: block;
 }


/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.btn {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.btn{
  --border-right: 6px;
  --text-stroke-color: green;
  --animation-color: #37FF8B;
  --fs-size: 1.5em;
  
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.btn:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}